# Payload + Next require access to some peer/binary deps to be hoisted
shamefully-hoist=false
public-hoist-pattern[]=*payload*
public-hoist-pattern[]=*@payloadcms*
public-hoist-pattern[]=sharp
auto-install-peers=true
strict-peer-dependencies=false
